.month {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.one_month {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.one_week_same_month {
  width: 40px;
  text-align: center;
  cursor: pointer;
}
.one_week_same_month:hover {
  color: rgb(255, 222, 121);
}
.one_week_same_day {
  width: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #0069ffc4;
  border-radius: 50%;
}

.one_week_not_same_month {
  color: gray;
  width: 40px;
  text-align: center;
}
