.month {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.one_month {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.one_weeksame_month {
  width: 40px;
  text-align: center;
}
.one_weeksame_month:hover {
  color: rgb(255, 222, 121);
}
.one_weeksame_day {
  width: 40px;
  text-align: center;
  color: rgb(193, 141, 18);
  font-weight: bold;
}
.one_weeksame_day:hover {
  color: rgb(255, 222, 121);
}
.one_weeknot_same_month {
  color: gray;
  width: 40px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .month {
    font-size: 20px;
    padding: 0 20px;
  }
}
